CDK_Content: |-
  #!/bin/sh

  cdk deploy
  ravindra jadeja
CDK_Git_path: .roost
CDK_Uninstall: |-
  #!/bin/sh
  pulumi destroy
build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Aman Tripathi
lastUpdatedOn: 2023-03-08T10:17:30.541Z
